<div class="col-lg-6">
<h1>{{titulo}}</h1>
<div *ngIf="errorMessage">
    <div class="alert alert-info">
        {{errorMessage}}
    </div>
</div>
<form #formAlbum="ngForm" (ngSubmit)="onSubmit()">
    <p>
        <label>Titulo</label>
        <input class="form-control" type="text" #title="ngModel" name="title" [(ngModel)]="album.title" required />
        <span *ngIf="!title.valid && title.touched">
            El titulo el obligatorio
        </span>
    </p>
    <p>
        <label>Descripción</label>
        <textarea class="form-control" #description="ngModel" name="description"
            [(ngModel)]="album.description" ></textarea>
        <span *ngIf="!description.valid && description.touched">
            La descripcion es obligatoria
        </span>
    </p>

    <p>
        <label>Año</label>
        <input class="form-control" type="text" #year="ngModel" name="year" [(ngModel)]="album.year" required />
        <span *ngIf="!year.valid && year.touched">
            El año el obligatorio
        </span>
    </p>
    <div *ngIf="is_edit">
        <div class="image_for_edit" *ngIf="album.image != 'null'">
            <img src="{{url + 'get-image-album/' + album.image}}"/>
        </div>
        
        <P>
            <label>Sube la imagen del album</label>
            <input type="file" placeholder="Subir imagen" (change)="fileChangeEvent($event)"/>
        </P>
    </div>
    <input type="submit" value="{{titulo}}" [disabled]="!formAlbum.form.valid"/>
</form>
</div>