
<div class="col-lg-6" *ngIf="identity && identity.rol == 'ROLE_ADMIN'"> 
    <h1>{{titulo}}</h1>
    <form #formSong="ngForm" (ngSubmit)="onSubmit()">
        <p>
            <label>Numero</label>
            <input class="form-control" type="text" #number="ngModel" name="numbre" [(ngModel)]="song.number" required />
            <span *ngIf="!number.valid && number.touched">
                El numero de la cancion es obligatorio
            </span>
        </p>
        <p>
            <label>Titulo</label>
            <input class="form-control" type="text" #name="ngModel" name="name" [(ngModel)]="song.name" required />
            <span *ngIf="!name.valid && name.touched">
                El titulo el obligatorio
            </span>
        </p>

        <p>
            <label>Duracion</label>
            <input class="form-control" type="text" #duration="ngModel" name="duration" [(ngModel)]="song.duration" required />
            <span *ngIf="!duration.valid && duration.touched">
                La duracion es obligatoria
            </span>
        </p>


        <div *ngIf="is_edit">
            <div class="song_file_for_edit" *ngIf="song.file != 'null'">
                <audio controls>
                    <source src="{{url + 'get-file-song/' + song.file}}" type="audio/mpeg"/>
                </audio>
            </div>
            
            <P>
                <label>Sube el fichero de la audio</label>
                <input type="file" placeholder="Subir fichero" (change)="filesChangeEvent($event)"/>
            </P>
        </div>
        <input type="submit" value="{{titulo}}" [disabled]="!formSong.form.valid"/>
    
    </form>
</div>