.image_for_edit img{
    width: 150px;
}

.central{
    height: 100%;
    overflow-y: scroll;
}

.seguro{
    margin-top: -20px;
    background: black;
    position: absolute;
    height: 40px;
    overflow: hidden;

}

.head-title{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: block;
}

.navigation{
    text-align: center;
    color: white;
    background: #1C1C1F;
    height: 100%;    
}

.navigation a{
    color: rgba(221, 221, 221, 0.829);
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
    font-size: 15px;
}

.navigation .glyphicon{
    font-size: 25px;
    display: block;
    width: 100%;
}

.navigation a:hover{
    color: white;
    text-decoration: none;
 }

 #user_logged{
     text-decoration: center;
     background: #1C1C1F;
     
     margin-bottom: 0;
     
     border-top:1px solid #444;
     width: 75%;
 }

 
#user_logged .user_image{
    background: #eee;
    border-radius: 100px;
    height: 57px;
    width: 57px;
    margin: 0px auto;
    margin-top: 15px;
    overflow: hidden;
}

#user_logged .user_image img{
    width: 57px;
}

.btn_logout{
    cursor: pointer;
}

.actived{
    border-bottom: 4px solid #84BD00;
    padding-bottom: 4px;
}

.artists-list{
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    list-style: none;
}

.artist-item{
    width: 23%;
    padding: 0px;
    margin: 0px;
    height: 317px;
    border: 1px solid #444;
    margin-left: 20px;
    margin-top: 20px;
    background: black;
}

.artist-item .artist-image{
    height: 245px;
    width: 100%;
    overflow: hidden;
    background: black;
}

.artist-item .artist-image img{
    width: 100%;
    height: 100%;
}

.artist-item .artist-name{
    color: white;
    padding: 10px;
    background: #222326;
}

.artist-item .artist-name a{
    color: white;
}

#artist-head-card .image{
    width: 150px;
    height: 150px;
    overflow: hidden;
    float: left;
    margin-right: 30px;
}

#artist-head-card .image img{
    height: 130px;
}

.prev-next{  
    font-size: 50px;
}





 